<?xml version="1.0"?>
<config>
  <module>
    <settings>
      <module_name>Resource Manager</module_name>
      <id>resource</id>
      <active>true</active>
      <version>1.0</version>
      <php>resource.inc</php>
      <hasperm>true</hasperm>
      <epage>resource.inc</epage>
      <epage_dir>MODULE_ROOT</epage_dir>
      <is_content_page>false</is_content_page>
      <stdclass>resource_class</stdclass>
      <description>Resource Manager</description>
      <developer_id/>
      <change_date>2018-12-12</change_date>
      <iscore>true</iscore>
    </settings>
    <events>
      <event eventname="OnAutorunAdmin" method="class" classname="resource_admin_class" function="on_autorun_admin"/>
      <event eventname="beforesmartycompile" method="class" classname="resource_class" function="parse_detail_page"/>
    </events>
    <includes>
      <include type="class" classname="resource_master_class">resource.master</include>
      <include type="class" classname="resource_class">resource</include>
    </includes>
    <admin_includes>
      <include type="class" classname="resource_admin_class">resource</include>
    </admin_includes>
    <contentplugins>
      <plugin>
        <name>Resource Detail Page</name>
        <id>resrcdetail_inlay</id>
        <tpl>resource.detail.plugin</tpl>
        <lists>
          <list name="resources" classname="resource_admin_class" idname="id" label="f_name" function="load_homepage_integration"/>
        </lists>       
        <save classname="resource_admin_class" function="save_homepage_integration"/>
      </plugin>
    </contentplugins>
  </module>
</config>
