.zwcont {
margin-top:5px;
border:1px solid #929292;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
width:460px;
padding:5px;
}

.zwcontstd {
margin-top:5px;
border:1px solid #929292;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
padding:5px;
}

.sf-leftcol {
float:left;width:260px;
}