<?xml version="1.0"?>
<config>
  <module>
    <settings>
      <module_name>Google Maps</module_name>
      <id>gmap</id>
      <active>true</active>
      <version>1.0</version>
      <php>gmap.inc</php>
      <hasperm>true</hasperm>
      <epage>gmap.inc</epage>
      <epage_dir>MODULE_ROOT</epage_dir>
      <is_content_page>false</is_content_page>
      <stdclass>gmap_class</stdclass>
      <description>Google Maps Karte</description>
      <developer_id/>
      <change_date>2014-01-01</change_date>
    </settings>
    <events>
      <event eventname="beforesmartycompile" method="class" classname="gmap_class" function="parse_googlemaps"/>
      <event eventname="OnOutput" method="class" classname="gmap_class" function="on_output"/>
    </events>
    <includes>
      <include type="class" classname="gmap_master_class">gmap.master</include>
      <include type="class" classname="gmap_class">gmap</include>
    </includes>
    <contentplugins>
      <plugin>
        <name>Google Maps</name>
        <id>gmap_inlay</id>
        <tpl>gmap.plugin</tpl>
        <lists>
          <list name="templates" classname="gmap_admin_class" idname="id" label="description" function="load_template_integration"/>
        </lists>
        <save classname="gmap_admin_class" function="save_homepage_integration"/>
      </plugin>
    </contentplugins>
    <admin_includes>
      <include type="class" classname="gmap_admin_class">gmap</include>
    </admin_includes>
  </module>
</config>
