<?xml version="1.0"?>
<config>
  <module>
    <settings>
      <module_name>Online Reservierungen</module_name>
      <id>otimer</id>
      <active>false</active>
      <version>1.4</version>
      <php>otimer.inc</php>
      <hasperm>false</hasperm>
      <epage>otimer.inc</epage>
      <epage_dir>MODULE_ROOT</epage_dir>
      <is_content_page>true</is_content_page>
      <developer_id>1</developer_id>
      <description>Online Termine buchen. Sie verwalten Mitarbeiter und Programme pro Mitarbeiter. Kunden k&#xF6;nnen dann verbindlich online buchen.</description>
      <encode>false</encode>
    </settings>
    <includes>
      <include type="class" classname="otimer_master_class" varname="">otimer.master</include>
      <include type="class" classname="otimer_class" varname="">otimer</include>
    </includes>
    <events>
      <event eventname="OnDeleteEmployee" method="class" classname="otimer_class" function="OnDeleteEmployee"/>
    </events>
    <admin_includes>
      <include type="class" classname="otimer_admin_class">otimer</include>
    </admin_includes>
    <admin_menu parent="96" icon="book_next.png" label="Reservierungen"/>
  </module>
</config>
